/* General */
:root {
  font-size: 1em;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-family: "Sen", sans-serif;
  line-height: 150%;
  background-color: transparent;
  color: var(--text-color);
  position: absolute;
  width: 100vw;

  --highlight-color: #ff5050;
  --primary-black: #1c1c1c;
  --light-black: #303030;
  --dark-black: #181818;
  --text-color: white;
  --scrollbar-width: 0.4rem;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.temp {
  height: 100vh;
}


/* Needed to scale the icons. */
i.highlight-on-hover {
  display: flex;
  transition: 0.25s all;
}

.highlight-on-hover:hover {
  color: var(--highlight-color);
  transform: scale(1.125);
}

/* Hero-box */
div.hero {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.canvas-wrapper {
  width: 100%;
  height: 100vh;
}

.background-canvas {
  z-index: -999;
  position: fixed;
  top: 0;
  left: 0;
}

canvas {
  position: absolute;
  width: calc(100% + var(--scrollbar-width));
  height: 100vh;
  align-self: flex-start;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: var(--primary-black);
}

.hero-heading {
  font-family: "Sen", sans-serif;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  color: white;
  text-align: center;
  font-size: 2.75rem;
  line-height: 1;
  text-transform: uppercase;
}

br.responsive {
  display: none;
}

.heading-line {
  margin: 0.5em;
}

.hero-button {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  color: var(--highlight-color);
  font-size: 0.55em;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: 0.2s all;
}

.hero-button::before,
.hero-button::after {
  border: 0.1em solid var(--highlight-color);
  border-radius: 0.1em;
}

.hero-button::before,
.hero-button::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
  transition: 0.3s all;
}

.hero-button:hover::before {
  transform: translateX(-0.2em) translateY(-0.2em);
}

.hero-button:hover::after {
  transform: translateX(+0.2em) translateY(+0.2em);
}

.hero-button:hover {
  transform: scale(1.1);
}

.highlight {
  color: var(--highlight-color);
}

/* HEADER */

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 999;

  background-color: var(--light-black);
  font-size: 1.5rem;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0 2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.nav-item {
  margin: 1rem;
  padding: 0;
  cursor: pointer;
  position: relative;
  font-weight: 600; /* ? */
}

.nav-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid var(--highlight-color);
  opacity: 0;
}

.nav-item.active {
  color: var(--highlight-color);
}

.nav-item:hover {
  color: #dcdcdc;
}

.nav-item:hover::before {
  opacity: 1;
}

/* Sections styling */

.content-wrapper {
  width: min(85vw, 1100px);
  /* border: 1px solid white; */
  margin: 0 auto;
}

.spacer {
  margin: 10vh 0;
  height: 1px;
}

section.main-section {
  scroll-margin-top: 5.5rem;
}

.section-header {
  font-size: 3rem;
  text-align: center;
  position: relative;
  margin: 5rem auto;
  width: fit-content;
  opacity: 0; 
  transform: scale(0.8);
  transition: 0.3s all;
}

.section-header.active {
  opacity: 1;
  transform: scale(1);
}

.section-header::after {
  content: "";
  position: absolute;
  top: -5px;
  left: 20px;
  z-index: -90;
  width: 0%;
  height: 100%;
  border-bottom: 0.9rem solid var(--highlight-color);
  transition: 0.5s all ease-in-out;
  transition-delay: 0.2s;
}
.section-header.active::after {
  width: 100%;
}

/* About */

.about-container {
  display: flex;
  gap: 2rem;
}

#about-me-img {
  flex: 2;
  width: 100%;
  background-image: url("https://picsum.photos/600/1000");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.about-me-text {
  flex: 3;
  font-size: 1.25rem;
  text-align: justify;
}

.about-me-text h2 {
  margin: 0;
}

.underline-on-hover {
  position: relative;
}

.underline-on-hover::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  transform: scaleX(0);
  height: 100%;
  border-bottom: 2px solid var(--highlight-color);
  width: 100%;
  transition: 0.275s all;
}

.underline-on-hover:hover {
  color: #f38989;
}

.underline-on-hover:hover::after {
  transform: scaleX(1);
}

/* Skills */

#skills,
#about {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-margin-top: 0;
}

.skills-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(125px, 1fr));
}

.single-skill {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  opacity: 0;
  transform: translateY(-30px);
  transition: all 0.3s;
}

.skills-container.active .single-skill {
  transform: translateY(0px);
  opacity: 1;
}

.single-skill i,
.single-skill svg {
  font-size: 4.5rem;
  height: 4.5rem;
  transition: 0.2s all;
  margin-bottom: 0.1em;
}

.single-skill p {
  margin: 0.25rem;
  font-size: 1.25rem;
  font-weight: 700;
}

/* Projects */

.single-project {
  display: flex;
  gap: min(6rem, 5vw);
  margin: 10rem auto;
}

.project-half {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;

  --slideInTime: 1s;
  --slideInRange: 5rem;
}

.left-slide-in, .right-slide-in{
  opacity: 0;
  transition: all 1s;
}

.left-slide-in {
  transform: scale(0.8) translateX(-5rem);
}

.right-slide-in {
  transform: scale(0.8) translateX(5rem);
}

.left-slide-in.active,
.right-slide-in.active {
  opacity: 1;
  transform: translateX(0);
}

.left-half .project-details {
  text-align: right;
}

.left-half .list-of-icons {
  justify-content: flex-end;
}

.project-display {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 100%;
}

.project-monitor {
  width: 100%;
  height: 100%;
  position: relative;
}

.monitor-svg {
  width: 100%;
  position: relative;
}

.project-gif {
  position: absolute;
  top: 5%;
  max-width: 90%;
  transition: all 0.2s;
}

.project-gif:hover {
  transform: scale(1.05);
}

.project-details {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1rem;
}

.project-details > * {
  margin: 0;
  padding: 0;
}

.project-details h3 {
  font-size: 1.75em;
  text-transform: uppercase;
}

.project-details h4 {
  font-size: 1.5em;
  text-transform: uppercase;
  margin: 0;
}

.project-details p {
  font-size: 1.25em;
}

.project-details .list-of-icons {
  font-size: 2.5em;
  list-style-type: none;
  display: flex;
  margin: 1em 0 0 0;
  padding: 0;
  gap: 0.75em;
}

.list-of-icons > *:hover {
  transition: 0.2s all;
}

.project-links {
  font-size: 1.5em;
  padding: 0 0.5em;
}

.underline-animated-btn {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  position: relative;
  width: fit-content;
  padding: 0.25em 0.5em;
  transition: var(--hover-transition-time) all;

  --hover-transition-time: 0.25s;
}

.underline-animated-btn::after {
  font-size: 1.5em;
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transform: scaleY(0.1);
  transform-origin: bottom;
  background-color: var(--highlight-color);
  z-index: -10;
  transition: var(--hover-transition-time) all;
}

.underline-animated-btn:hover {
  color: black;
}

.underline-animated-btn:hover::after {
  transform: scaleY(1);
}

/* Contact */

.contact-form {
  display: flex;
  flex-direction: column;
  width: min(600px, 70vw);
  margin: 0 auto;
  align-items: flex-end;
  gap: 0.5rem;
}

.contact-form > * {
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.5s;
}

.contact-form.active > * {
  opacity: 1;
  transform: scale(1);
}

.contact-form p {
  width: 100%;
  text-align: center;
  font-size: 1.1rem;
  transform: translateX(-100px);
  transition: all 0.7s;
  transition-delay: 0.3s;
}

.contact-form.active p {
  opacity: 1;
  transform: translateX(0);
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  background-color: #303030;
  color: white;
  font-family: "Sen", sans-serif;
  font-size: 1.15rem;
  padding: 0.5em 0.5em;
  border: none;
}

.contact-form textarea {
  resize: vertical;
  min-height: 5rem;
  max-height: 35rem;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: 1px solid var(--highlight-color);
}

.submit-btn {
  font-size: 1.25rem;
  background-color: transparent;
  border: none;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background-color: var(--light-black);
  box-shadow: 4px 0 12px 12px rgba(0, 0, 0, 0.2);
  position: relative;
  padding: 3.5rem 0 2rem 0;
  gap: 1rem;
  font-size: 0.75rem;
  margin-top: 10vh;
}

.back-to-top {
  font-size: 2rem;
  background-color: var(--highlight-color);
  border: none;
  position: absolute;
  color: white;
  top: -0.75em;
  padding: 0.25em;
  transition: all 0.5s;
}

.back-to-top:hover {
  transform: scale(1.15);
}

.social-media-icons a {
  font-size: 2.25rem;
  margin: 0 0.75em;
  cursor: pointer;
  padding: 0.1em;
  width: 1.4em;
  height: 1.4em;
  display: inline-flex;
  justify-content: center;
  align-items: center;  
  position: relative;
  overflow: hidden;
  transition: 0.3s all;

  --translate-distance: 300%;
}

.social-media-icons i {
  transition: 0s transition;
  position: absolute;
}

.social-media-icons a:hover {
  background-color: var(--highlight-color);
}

.social-media-icons i.top-icon {
  transform: translateY(calc(var(--translate-distance) * -1));
}

.social-media-icons a:hover i {
  transition: 0.4s all;
}

.social-media-icons a:hover i.top-icon {
  transform: translateY(0)
}

.social-media-icons a:hover i.bottom-icon {
  transform: translateY(var(--translate-distance));
}

/* scrollbar */
::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
  background: var(--light-black);
}

::-webkit-scrollbar-thumb {
  background: var(--highlight-color);
}

@media screen and (max-width: 1500px) {
  .hero-heading {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 1100px) {
  :root {
    font-size: 0.85em;
  }
}

@media screen and (max-width: 750px) {
  /* Header */
  .sticky-header {
    justify-content: center;
  }

  /* About */
  .about-container {
    flex-direction: column;
  }

  #about-me-img {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    flex: none;
  }

  /* Skills */
  .skills-container {
    grid-template-columns: repeat(3, minmax(125px, 1fr));
    margin: 0;
    padding: 0;
  }

  /* Projects */

  .single-project {
    flex-direction: column;
  }

  .project-display {
    max-width: 400px;
  }

  .project-details {
    gap: 1.5em;
  }

  .project-txt {
    order: 2;
  }

  .project-dp {
    order: 1;
  }
}

@media screen and (max-width: 650px) {
  br.responsive {
    display: block;
  }

  /* Disable hero canvas interactibility*/
  #hero-canvas {
    display: none !important;
    background-color: transparent;
  }

  .g-recaptcha {
    transform: scale(0.77);
    -webkit-transform: scale(0.77);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  }
}

@media screen and (max-width: 450px) {
  :root {
    font-size: 0.7em;
  }

  .sticky-header {
    font-size: 1.25rem;
  }

  .skills-container {
    grid-template-columns: repeat(2, minmax(75px, 1fr));
  }

  .contact-form {
    width: 90vw;
    padding: 5vw;
  }
}

@media screen and (max-width: 350px) {
  .sticky-header {
    font-size: 1rem;
  }
}

@media screen and (max-width: 300px) {
  :root {
    font-size: 0.6rem;
  }
  .nav-item {
    display: none;
  }
}
